<h2>Новый заказ!</h2>

<table>
	<tbody>
	<tr>
		<td>{{ productName }}</td>
		<td>{{ quantity }}</td>
		<td>{{ price }}</td>
	</tr>
	</tbody>
</table>

<p>{{ userName }}</p>
<p>{{ phone }}</p>
<p>{{ promoCode }}</p>
<p>{{ deliveryAddress }}</p>
<p>{{ comment }}</p>